node_modules
**/node_modules
/dist
/apps/**/dist
/sdk/**/dist
/.nx/cache
/.nx/workspace-data
/.cache
/.npm-cache
.vscode
.DS_Store
.env
.env.*
!**/.env.example
*.log
genxapi*.resolved.json

# Expo
apps/mobile-app/.expo
apps/mobile-app/web-build

# Swagger artifacts
/docs/swagger/*.json
